@import "tailwindcss";

:root {
    --font-mono: 'Comic Code Ligatures', 'Roboto Mono', 'Iosevka', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
            "Courier New", monospace;
}

body {
    background-color: white;
    color: black;
    font-family: 'Inter', 'SF Pro Text', 'Segoe UI', sans-serif;
}

*::selection {
	@apply bg-blue-400 text-white;
}

.post {
    @apply underline text-blue-700 font-mono
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

input, textarea, select {
    @apply border border-gray-500 my-1 px-2 py-1 rounded-sm
}

.btn {
    @apply border border-gray-200 bg-gray-200 my-1 px-2 py-1 rounded-sm hover:cursor-pointer
}